@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #444;
}

body{
    background-color: #45b34d;
    display: grid;
    place-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88e88d;
    border-radius: 12px;
    padding: 24px;
    border: #e7ffe8 4px solid;
    font-size: 36px;
    box-shadow: -20px 20px 4px rgba(0, 0, 0, 0.2);
}

main div:first-child{
    margin-bottom: 32px;
    width: 100%;
}

main div input{
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 36px;
    padding: 12px;
    width: 100%;
    background-color: #e7ffe8;
    transition: box-shadow 0.5s ease;
}

main div input:focus{
    outline: none;
    box-shadow: -8px 8px 4px rgba(0, 0, 0, 0.1);
}

ul{
    list-style: none;
}

li span{
    font-weight: 700;
}